.Btn {
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0;
}

.Btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.Btn:active {
    opacity: 0.9;
}

.Btn .text {
    padding: var(--gap) var(--gap-l);
    font-size: var(--font-size-m);
}

.Btn .Icon {
    background-color: #6868dc;
    padding: var(--gap) var(--gap-l);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.Btn:disabled {
    opacity: 0.3;
    cursor: default;
}