html {
    font-size: var(--font-size);
}

body {
    margin: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    color: var(--primary);
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}