.Line {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.Line.between {
    justify-content: space-between;
    width: 100%;
}

.Line.rows {
    flex-direction: column;
    align-items: flex-start;
}